{% extends "diary/base.html" %}
{% load bootstrap5 %}

{% block extra_head %}
    {{ form.media }}
    {# gis/openlayers.html 에서 LANGUAGE_BIDI 따라서 float 지정 #}
    <style>
    #id_point_div_map {
        float: none !important;;
    }
    </style>
{% endblock %}

{% block content %}
    <h2>Post Form</h2>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "저장" button_type="submit" %}
    </form>
{% endblock %}
